.DS_Store

*.log

*.tmp
*.swp
*.bak
*.swo

/dist
/build
/out
*.exe
*.dll
*.obj
*.class

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

node_modules/

__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/

target/
*.jar
*.war
*.class

.env
.env.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Thumbs.db
ehthumbs.db
Desktop.ini
